body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.display {
    background-color:#EFEFEE;
    padding: 15px;
    width: 250px;
    text-align: right;
    font-size: 20px;
}

button {
    border-radius: 25px;
    width: 67px;
    height: 45px;
    background-color: #EFEFEE;
    color: black;
    font-size: 20px;
}

.container{
            position: fixed; 
            top: 45%; 
            left: 45%; 
            margin-top: -100px; 
            margin-left: -100px;
}
   